<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>104834046284-er7a1kdq6u9bqiqg79nceug31ft5l24f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104834046284-er7a1kdq6u9bqiqg79nceug31ft5l24f</string>
	<key>API_KEY</key>
	<string>AIzaSyBPNqW-9KkllY-GOp3Gt_At__TnRWbz8EI</string>
	<key>GCM_SENDER_ID</key>
	<string>104834046284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SHMA.SHMA</string>
	<key>PROJECT_ID</key>
	<string>shma-559f5</string>
	<key>STORAGE_BUCKET</key>
	<string>shma-559f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104834046284:ios:2b2caf496020f560</string>
	<key>DATABASE_URL</key>
	<string>https://shma-559f5.firebaseio.com</string>
</dict>
</plist>